@model IEnumerable<Gastos.Models.Pessoa>

@{

      ViewData["Title"] = "Listagem de pessoas";

}

<h2>Pessoas</h2>

<p><a asp-action = "Criar">Novo registro de pessoa</a></p>



<table class = "table">

        <thead>

              <tr>

                  <th>

                        @Html.DisplayNameFor(model  => model.Codigo)

                  </th>

                  <th>

                        @Html.DisplayNameFor(model  => model.Nome)

                  </th>

                  <th>

                        @Html.DisplayNameFor(model  => model.Sobrenome)

                  </th>

                  

                  

                  <th></th>

            </tr>

            

        </thead>

        <tbody>

              @foreach (var item in Model)
              {
                
                        <tr>

                                    <td>

                                           @Html.DisplayFor(model  => item.Codigo)

                               

                                    </td>

                                    <td>

                                          @Html.DisplayFor(model  => item.Nome)   

                                    </td>

                                    <td>

                                          @Html.DisplayFor(model  => item.Sobrenome)


                                    </td>

                           

                         

                                    <td>

                                           
                                          <a asp-action = "Editar" asp-route-Codigo= "@item.Codigo" >Editar</a> |
                                          <a asp-action = "Detalhes" asp-route-Codigo = "@item.Codigo">Detalhes</a> |
                                          <a asp-action = "Deletar" asp-route-Codigo = "@item.Codigo">Deletar</a> 
                                    
                                    </td>

                        </tr>


              }

        </tbody>

</table>

  

  